@import "tailwindcss";

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
